.services-page {

  min-height:100vh;

  padding:60px 20px;

  background-color:
    radial-gradient(circle at the top left, rgba(107, 33, 168, 0.08), transparent 35%),
    radial-gradient(circle at the bottom right, rgba(168, 85, 247, 0.08), transparent 35%), #f8f7fb;

  font-family:Arial, sans-serif;

}

.service-image {
  height: 210px;

  transition:
    transform .6s ease,
    filter .6s ease;
}

.service-card:hover .service-image {
  transform: scale(1.05);
}


/* TITLE */

.services-title {

  text-align:center;

  margin-bottom:60px;

  position: relative;

}


.services-title h1 {

  font-size:42px;

  color:#6b21a8;

  margin-bottom:15px;

  font-weight: 700;

}


.services-title p {

  font-size:18px;

  color:#666;

  max-width: 650px;

  margin: 0 auto;

  line-height: 1.7;

}



/* GRID */

.services-grid {

  display:grid;

  grid-template-columns:
  repeat(auto-fit, minmax(280px, 1fr));

  justify-content:center;

  gap:30px;

  max-width:1450px;

  margin:0 auto;

  padding:35px;

  row-gap:40px;

  column-gap:28px;

  background:rgba(255, 255, 255, 0.45);

  backdrop-filter:blur(10px);

}



/* SCROLL ANIMATION */

.service-card {

  opacity:0;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;

  width: 290px;

  min-height: 260px;

  border:1px solid rgba(107, 33, 168, 0.08);

}

.service-card:hover {
  transform:translateY(-12px);
  box-shadow: 0 20px 4px rgba(107, 33, 168, 0.22);
}


.service-card.show {

  opacity:1;

  transform:translateY(0);

  transition:
  opacity 0.6s ease,
  transform 0.6s ease;

}



/* MOBILE */

@media(max-width:768px){

  .services-page {

    padding:40px 15px;

  }


  .services-title h1 {

    font-size:32px;

  }


  .services-title p {

    font-size:16px;

  }


  .services-grid {

    grid-template-columns:
    repeat(1,280px);

  }

}