.hero {
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* SLIDES */
.hero-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform: scale(1.05);
}

.hero-slide.active {
  opacity: 1;
  transform: scale(1);
}

/* OVERLAY */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  max-width: 700px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content h1 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero-btn {
  background: #a855f7;
  border: none;
  padding: 14px 30px;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #7e22ce;
  transform: scale(1.05);
}

.hero.loading {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  color: white;
  border-radius: 15px;
}