/* SERVICE CARD */

.service-card {

    background:#111;

    border-radius:18px;

    overflow:hidden;

    color:white;

    width:280px;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.4);

    transition:0.4s ease;

}



.service-card:hover {

    transform:translateY(-8px);

    box-shadow:
    0 15px 35px rgba(168,85,247,0.4);

}



/* IMAGE */

.service-image {

    position:relative;

    width:100%;

    height:170px;

    overflow:hidden;

    background: #000;

}



.service-image img {

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:center;

    transition:0.7s ease;

}

.fade-image {
    animation: imageFade 0.5s ease-in-out;
}

@keyframes imageFade {
    from{
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}





/* OVERLAY */

.image-overlay {

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        to bottom,
        transparent 40%,
        rgba(0,0,0,0.85)
    );

}



/* BADGE */

.service-badge {

    position:absolute;

    top:12px;

    left:12px;

    background:#a855f7;

    padding:5px 12px;

    border-radius:20px;

    font-size:11px;

    font-weight:bold;

}



/* CONTENT */

.service-content {

    padding:16px;

    text-align:center;

}


.service-content h3 {

    font-size:19px;

    margin-bottom:10px;

    color:#a855f7;

}


.service-content p {

    color:#ddd;

    font-size:13px;

    line-height:1.5;

}



/* FEATURES */

.service-features {

    margin-top:12px;

}


.service-features p {

    margin:5px 0;

    font-size:12px;

}



/* BUTTONS */

.card-actions {

    display:flex;

    justify-content:center;

    gap:10px;

    margin-top:15px;

}



.explore-btn {

    padding:9px 15px;

    border:1px solid #a855f7;

    border-radius:25px;

    background:transparent;

    color:white;

    font-size:12px;

    font-weight:bold;

    cursor:pointer;

}


.explore-btn:hover {

    background:#a855f7;

}



.book-btn {

    padding:9px 15px;

    border:none;

    border-radius:25px;

    background:#a855f7;

    color:white;

    font-size:12px;

    font-weight:bold;

    cursor:pointer;

}


.book-btn:hover {

    background:white;

    color:#a855f7;

}



/* MOBILE */

@media(max-width:768px){

    .service-card {

        width:280px;

    }


    .service-image {

        height:180px;

    }


    .card-actions {

        flex-direction:column;

    }


    .explore-btn,
    .book-btn {

        width:100%;

    }

}